* {
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.cookieContainer {
    background: linear-gradient(260deg, #9b6c50 0%, #4f2626 100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 25rem;
    height: 25rem;
    border-radius: 1.5rem;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.text {
    color: gray;
}

button {
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    color: gray;
}
